*
    // 
    padding: 0px
    margin: 0px

body
    font-family: Helvetica Cyrillic, Bastion, sans-serif
    *
        user-select: none

h1, caption
    font-size: 20px
    font-weight: bold
    text-align: center

input, button
    font-size: 16px
    font-family: Helvetica Cyrillic, Bastion, sans-serif
    padding: 5px
// input
//     width: 250px
// button
//     width: 155px

.container
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-items: center

    .flexbase
        width: 400px
        padding: 5px
    // #flex2
    //     border-top: 2px solid black
    #inputform
        // border: 1px solid green
        display: flex
        flex-direction: row
        justify-content: space-between
        input
            flex-grow: 1
    #file-name
        text-align: justify
        p
            font-family: monospace
            font-size: 16px
            border-bottom: 2px solid gray

table
    // border: 3px solid purple
    border-collapse: collapse
    font-family: monospace
    font-size: 16px
    th, td
        border: 1px solid gray
    th
        text-align: center
    th:first-child
        width: 60px
    th:last-child
        width: 100%
    td
        padding: 0px 5px
    td:first-child
        text-align: center
